@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Playlist</th>
            <th scope="col">Tác giả</th>
            <th scope="col">Lượt xem</th>
        </tr>
    </thead>
    <tbody id="list__ranking">
        <!--List playlist order by des viewcount-->
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>1</td>
        </tr>
    </tbody>
</table>
