@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="~/image/logo.jpg" alt="Your Logo" width="30" height="30" class="d-inline-block align-top">
            </a>
            <!-- Tên trang -->
            <span class="navbar-text">
                My Music
            </span>
            <!-- Thanh tìm kiếm -->
            <form class="d-flex ms-auto">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <!-- Nút đăng nhập -->
            <button class="btn btn-outline-primary mx-2" type="button">Đăng nhập</button>
            <!-- Nút đăng ký -->
            <button class="btn btn-primary" type="button">Đăng ký</button>
        </div>
    </nav>
</header>
